<nav class="navbar navbar-inverse" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Smashify</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Featured <span class="sr-only">(current)</span></a></li>
        <li><a href="/browse/genres/">Genres & Moods</a></li>
        <li><a href="#">New Releases</a></li>
        <li><a href="#">Discover</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Genres & Moods</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block", id="nav-sidebar", style="width:20%">
  <h3 class="w3-bar-item">Menu</h3>
  <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
  <a href="#" class="w3-bar-item w3-button", id = "navbar-item">Browse</a>
  <a href="#" class="w3-bar-item w3-button", id = "navbar-item">Featured</a>
  
</div>

<!-- Page Content -->
<div style="margin-left:20%">

<div class="w3-container w3-black">
  <h1>My Page</h1>
</div>
